@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;400;600&display=swap');

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#7756ff, #8ae2ff);
    font-family: 'Gothic A1', sans-serif;
}

#logo {
    max-width: 150px;
}

#mainCard {
    width: 50%;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.95);
    margin: auto;
    padding: 2rem;
    border: 1px solid #829aff;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 10px rgba(20, 20, 20, 0.2);
}

h1 {
    color: #829aff;
}